

.pagina-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    flex-direction: row;
    padding: 0px 60px;

    section {
        display: flex;
        flex-direction: column;
        gap: 50px;

        #lateral {
            width: 650px;
        }

        .login-titulo {
            display: flex;
            align-items: center;
            flex-direction: row;
            font-weight: 600;
            color: #0083ca;
            font-size: 30px;
        }

        .login-informacoes {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            p {
                text-decoration: underline;
            }

            div {
                border-radius: 8px;
                display: flex;
                align-items: center;
                border: 2px solid #00000010;
                background: #d9d9d900;
                width: 460px;
                padding: 2px 8px;

                img {
                    margin: 5px;
                    width: 25px;
                }

                input {
                    border: none;
                    outline: none;
                    width: 400px;
                    font-family: 'Inter', sans-serif;
                }
            }

        }

        .login-confirmar {
            display: flex;
            flex-direction: column;
            align-items: center;

            #login-botao-google {
                button {
                    display: flex;
                    width: 260px;
                    cursor: pointer;
                    padding: 10px;
                    align-items: center;
                    background-color: #fff;
                    color: #000;
                    font-weight: 500;
                    border: 2px solid #00000010;
                    letter-spacing: 1px;
                    font-size: 16px;

                    img {
                        width: 30px;
                        margin: 0px 10px 0px 0px;
                    }
                }
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                margin: 20px;

                button {
                    cursor: pointer;
                    border-radius: 50px;
                    border: none;
                    background: #0083CA;
                    width: 180px;
                    height: 45px;
                    color: #fff;
                    font-weight: 700;
                    letter-spacing: 2px;
                    font-size: 14px;
                    font-family: 'Inter', sans-serif;
                }

                p {
                    text-decoration: underline;
                }
            }
        }

    }
}